<!DOCTYPE html>
<html>

<head>
  <title>Better Shoe Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- description -->
  <meta name="description" content="Better Shoe repair all we do is what we love and what we love is to fix your shoes">
  <!-- keywords -->
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="author" content="ThemeZaa">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <!--[if IE]>
      <script src="javascripts/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- TODO when mobile button menu active if user scrolls hide it -->
  <!-- Nav  -->
  <nav class="navbar no-margin-bottom alt-font without-button shrink ">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="nav-brand inner-link width-ag" href="/"><img class="img-responsive" src="http://i.imgur.com/4zSk0Rd.png" alt="Michael Better" /></a>
        </div>
            <div class="col-lg-10 col-md-9 col-sm-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#about" class="">About</a></li>
                <li><a href="#service" class="">Service</a></li>
                <li><a href="#pricing" class="">Pricing</a></li>
                <li><a href="#" class="">Blog</a></li>
                <li><a href="#location" class="">Location</a></li>
                <li><a href="#contact" class="">Contact</a></li>
                <!-- <li><%#= link_to "New Image", new_image_path %></li> -->
              </ul>
            </div>
        </div>
      </div>
  </nav>
  <!-- end navigation -->

  <%= yield %>
<!-- Footer -->
    <!-- <footer class="wow fadeIn">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <span class="text-small text-uppercase letter-spacing-1 alt-font white">&copy; Shoe Repair Inc 2015</span>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <!-- footer -->
    <footer class="wow fadeIn">
        <div class="container">
            <div class="row border-bottom padding-eight no-padding-lr">
                <div class="text-center">
                     <div class="footer-social position-relative top4">
                      <a target="_blank" href="https://facebook.com/bettershoerepair"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/bettershoerepair"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://linkedin.com/bettershoerepair"><i class="fa fa-linkedin"></i></a>
                        <!-- end social media link -->
                     </div>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-12 text-right xs-text-center xs-margin-nineteen xs-no-margin-lr xs-no-margin-bottom">
                    <a href="#home" class="inner-link"><img alt="" src=""></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-small text-uppercase letter-spacing-1 alt-font">&copy; 2015  Better Shoe Repair Inc</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

</body>
</html>
