<!DOCTYPE html>
<html>

<head>
  <title>Better Shoe Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- TODO fix mobile button menu nav  DONE-->
  <!-- TODO when mobile button menu active if user scrolls hide it -->
  <!-- Nav  -->
  <nav class="navbar no-margin-bottom alt-font without-button shrink ">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Better Shoe Repair</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
            <div class="col-lg-10 col-md-9 col-sm-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Home2", index_path %></li>
                <li><a href="#" class="">About</a></li>
                <li class="dropdown">
                  <a href="#" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">Service</a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="#">Service #1</a></li>
                    <li><a href="#">Service #2</a></li>
                    <li><a href="#">Service #3</a></li>
                  </ul> -->
                </li>
                <li><a href="#" class="">Pricing</a></li>
                <li><a href="#" class="">Blog</a></li>
                <li><a href="#" class="">Contact</a></li>
                <li>
                  <%= link_to "New Image", new_image_path %>
                </li>
              </ul>
            </div>
        </div>
      </div>
  </nav>
  <!-- end navigation -->

  <%= yield %>
<!-- Footer -->
    <footer class="wow fadeIn">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <span class="text-small text-uppercase letter-spacing-1 alt-font white">&copy; Shoe Repair Inc 2015</span>
            </div>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>
